header{
    display: flex;
    justify-content: center;
    font-family: 'bebas neue';
    font-size: 2em;
}
.general{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.general div{
    padding: 1.5em;
    margin:2em;
    border-radius: 2em;
    background-color: white;
    font-family: 'montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general button{
    font-family: 'montserrat';
    border-radius: 2em;
    background-color:darkslategrey;
    color: white;
    border:none;
    height: 2em;
    width: 15vw;
}
.general button:hover{
    scale: 1.1;
    transition: 0.4s;
    cursor: pointer;
}
.general img{
    width: 300px;
}
body{
    background-color:rgb(243, 243, 243);
}